<!-- bottom nav which contains my contact and copyright -->
<nav class="navbar navbar-light bg-light">
  <h6 class="navbar-text">&copy; 2022 by Gabrielle Paguio ♡ <br> 
  Contact: gabriellejoanne.paguio@ontariotechu.net </h6>
  <div id="profiles">
    <a class="profileLink" href="https://www.linkedin.com/in/gabrielle-joanne-paguio/">LinkedIn Profile<br></a>
    <a class="profileLink" href="https://github.com/gabriellepaguio">GitHub Profile</a>
  </div>
</nav>