<!-- bottom nav which contains my contact and copyright -->
<nav class="navbar navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; 2022 by Gabrielle Paguio<br> 
  Contact: gabriellejoanne.paguio@ontariotechu.net </h6>
  <div id="profiles">
    <a class="profileLink" href="https://www.linkedin.com/in/gabrielle-joanne-paguio/"><b>LinkedIn Profile</b><br></a>
    <a class="profileLink" href="https://github.com/gabriellepaguio"><b>GitHub Profile</b></a>
  </div>
</nav>