<!--NavBar -->
<nav id="navBar" class="navbar navbar-expand-lg navbar-dark border-bottom border-light">
    <div class="container-fluid">
        <!-- Has an ID because that would override the bootstrap css to make it the custom css -->
        <a id="nameNavBar" class="navbar-brand navbar-light" href="/">Assignment Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto"> 

            <li id="nav-item" class="nav-item">
                <% if (title == "Home Page") { %>
                    <a class="nav-link active" href="/home">
                <% } else { %>
                    <a class="nav-link" href="/home">
                <% } %>
                    <i class="fa-solid fa-lg fa-house-user"></i> Main Page</a>
            </li>

            <li id="nav-item" class="nav-item">
                <% if (title == "Assignments") { %>
                    <a class="nav-link active" href="/assignmentList">
                <% } else { %>
                    <a class="nav-link" href="/assignmentList">
                <% } %>
                    <i class="fa-solid fa-list-check"></i>
                    Assignments</a>
            </li>       

        </div>
    </div>
</nav>