<!--Assignemnt 2: About Page
    Gabrielle Paguio
    100820990-->

<!-- explains the features of the website, how to use it, etc. -->
<%- include partials/header.ejs %>
<%- include partials/nav_bar.ejs %>
<main class="min-vh-100">
  <!-- make a box thingy like the one for contact me page - diff design -->
  <h5>This website.....<br>......<br>.......</h5>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
