<!--Assignemnt 2: Splash Page
    Gabrielle Paguio
    100820990-->

<%- include partials/header.ejs %>
<!--no nav bar-->
<main class="min-vh-100">
  <!-- make a box thingy like the one for contact me page - diff design -->
  <div class="container">
      <h1>Assignment Tracker</h1>
      <a href="/main">Continue to Site</a>
  </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
