<!--Assignemnt 2: Splash Page
    Gabrielle Paguio
    100820990-->

<!-- explains the features of the website, how to use it, etc. -->
<%- include partials/header.ejs %>
<%- include partials/nav_bar.ejs %>
<main class="aboutMain min-vh-100">
  <br><br>
  <div class="jumbotron-fluid rounded">
    <div class="container">
      <h1 class="display=4">Assignment Tracker!</h1>
      <p class="lead">This website is a great resource for students of any level to stay organized and stay on track with their school work.</p>
      <hr>
      <p class="my-4">Create, List, Update, and stay on track using Assignment Tracker.</p>
      <a href="/assignmentList" class="btnAbout rounded"><strong>Start Now!<strong></a>
    </div>
  </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
