<!--Assignemnt 2: Splash Page
    Gabrielle Paguio
    100820990-->

<%- include partials/header.ejs %>
<!--no nav bar-->
<main class="min-vh-100">
  <!-- make a box thingy like the one for contact me page - diff design -->
  <div class="container text-center">
      <h1>Assignment Tracker</h1>
      <!--
      <img class="deskPic img-fluid" src="/Assets/images/deskOrganized.jpg" alt="Desk orgainized"><br>
      -->
      <a class="btn btn-rounded btn-dark" href="/main">Continue to Site</a>
  </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>
