/* Assignment 3 - CSS File
   Gabrielle Paguio
   100820990 */

/* Nav Bar */
#navBar, html
{
   background-color: #161A26;
}
#nameNavBar
{
   font-size: 35px;
   margin-left: 20px;
   letter-spacing: 3px;
}
#nameNavBar:hover
{
   color: white;
   text-shadow: 4px 3px 6.7px #f2dfba;
}
.nav-link
{
   color: white;
   padding-left: 15px !important;
   padding-right: 15px !important;
   font-size: 14px;
}
.nav-link:active
{
   color: #31384e;
}

/* Bottom Nav */
#profiles
{
    float: right;
    margin-right: 2%;
    font-weight: none !important;
}
.navbar-text
{
   margin-left: 2%;
}
.profileLink:link
{
    color: #f2dfba;
    text-decoration: none;
}
.profileLink:visited
{
    color: #f2dfba;
    text-decoration: none;
}
.profileLink:hover
{
    color: #f2dfba !important;
    text-shadow: 3px 5px 6.7px #f2dfba;
    text-decoration: none;
}
.profileLink:active
{
    border: none;
    color: white;
    text-shadow: 3px 5px 6.7px #f2dfba;
    text-decoration: none;
}

/* All Pages */
main
{
   background-color: #161A26;
}
.container
{
   color: white;
}

/* Splash Page */
.aboutMain
{
   background-color: #161A26;
}
.jumbotron-fluid
{
   background-color: #31384e;
   color: white;
   margin-left: 10%;
   margin-right: 10%;
}
.container
{
   padding: 4%;
}
.btnStart
{
   background: #464AA6;
   border: none;
   padding: 1.5%;
   color: #f2dfba;
   text-decoration: none;
}
.btnStart:hover
{
   background: #f2dfba;
   color: #1F2440;
}
